services:
  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    container_name: vue
    ports:
      - "${VUE_PORT}:3000"
    volumes:
      - ./frontend:/app
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0 --port 3000"

  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    container_name: flask
    ports:
      - "${FLASK_PORT}:8000"
    volumes:
      - ./backend:/app
    environment:
      - PYTHONUNBUFFERED=1
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - FLASK_DEBUG=${FLASK_DEBUG}
    command: python app.py
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
